asgiref==3.5.2
asymmetric-jwt-auth==1.0.0
certbot-django==0.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cloudinary==1.30.0
cryptography==38.0.3
Django==4.1.2
django-ckeditor==6.5.1
django-cloudinary-storage==0.3.0
django-environ==0.9.0
django-jquery==3.1.0
django-js-asset==2.0.0
djangorestframework==3.14.0
idna==3.4
mailchimp-marketing==3.0.75
Pillow==9.2.0
pycparser==2.21
PyJWT==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.6
pywin32==304
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.5
urllib3==1.26.12
