{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Edit Profile</title>
{% endblock %}
{% block content%}
<section class="bg-light py-10">
    <div class="container px-5">
        <h2>Hey {{user.first_name|title}} <i class="fa-regular fa-face-smile-beam"></i></h2>
        <div class="form-group">
            <form class="row gx-5 mb-4" method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <br>
                <div style="display: flex; justify-content: center;" class="mx-auto mt-3 col-md-12">
                    <input type="submit" value="Update Settings" class="btn btn-primary">

                </div>
            </form>
        </div>
    </div>
</section>
<script>
    const label = document.querySelectorAll('label')
    const divHelpText = document.querySelector('.helptext')
    const div = document.querySelector('#id_password')
    let divContent = divHelpText.textContent
    div.style.display = 'none'
    label.forEach(label => {
        if(label.nextSibling != divHelpText){
            label.parentElement.classList.add('col-md-6','mt-3')

        }
})

</script>
{% endblock %}
