{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Login</title>
{% endblock %}
{% block content%}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
        <input type="submit" value="Submit">
    </form>
    <small>No Account? Sign Up here<a href="{% url 'register' %}">Register Here</a></small>
</div>


{% endblock %}