{% load static %}
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 text-center">
        <h2>This category currently doesn't have any blog posts <i class="fa-solid fa-face-grin-beam-sweat"></i>.</h2>
        <p class="lead mb-5 mt-1">Let us know what you want us to review and we'll be glad to! </p>
    </div>
</div>
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8">
        <form>
            <div class="row gx-5 mb-4">
                <div class="col-md-6">
                    <label class="text-dark mb-2" for="inputName">Full name</label>
                    <input class="form-control py-4" id="inputName" type="text" placeholder="Full name">
                </div>
                <div class="col-md-6">
                    <label class="text-dark mb-2" for="inputEmail">Email</label>
                    <input class="form-control py-4" id="inputEmail" type="email" placeholder="name@example.com">
                </div>
            </div>
            <div class="mb-4">
                <label class="text-dark mb-2" for="inputMessage">Message</label>
                <textarea class="form-control py-3" id="inputMessage" type="text" placeholder="Enter your message..." rows="4"></textarea>
            </div>
            <div class="text-center"><button class="btn btn-primary mt-4" type="submit">Submit Request</button></div>
        </form>
    </div>
</div>
