{% extends 'base.html' %}
{% block title%}
<title>Comment on Blog Post</title>
{% endblock %}
{% block content%}
{% if user.is_authenticated %}
<section class="bg-light py-10">
    <div class="container px-5">
<div class="form-group" style="width:70%; margin:0 auto;">
    <form method="POST" enctype="muiltipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% else %}
<a href="{% url 'login' %}">Login to add a post</a>

{% endif %}
</div>
</section>
<script>
    let name = '{{ user.username }}';
    let textInput = document.getElementById("form-user-id")
    textInput.value = name;
    textInput.setAttribute("disabled", "")
</script>
{% endblock %}