{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>All Posts | The Primed  Buyer </title>
{% endblock %}
{% block content%}
<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content pt-10">
        <div class="container px-5 text-center">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-ui-title mb-3">All Posts</h1>
                    <p class="page-header-ui-text">Browse articles, keep up to date, and learn more on our
                        blog!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-light py-10">
    <div class="container px-5">
                {% for post in all_posts_list|slice:":1" %}
                    <a
                            class="card post-preview post-preview-featured lift mb-5 overflow-hidden"
                            href="{% url 'post-details' post.pk %}"
                        >
                            <div class="row g-0">
                            <div class="col-lg-5">
                                <div
                                class="post-preview-featured-img"
                                style="
                                    background-image: url({{post.header_image.url}});
                                "
                                ></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body">
                                <div class="py-5">
                                    <h5 class="card-title">
                                        {{post.title}}
                                    </h5>
                                    <p class="card-text">
                                        {{post.snippet}}
                                    </p>
                                </div>
                                <hr />
                                <div class="post-preview-meta">
                                    {% if post.author.profile.profile_pic %}
                                    <img
                                    class="post-preview-meta-img"
                                    src="{{ post.author.profile.profile_pic.url }}"
                                    />
                                    {% else %}
                                    <img
                                    class="post-preview-meta-img"
                                    src="https://res.cloudinary.com/jjconway23/image/upload/v1667304953/The%20Primed%20Buyer/Media/default_profile_picture_rbxjjl.png"
                                    />
                                    {% endif %}
                                    <div class="post-preview-meta-details">
                                    <div class="post-preview-meta-details-name">
                                        {{ post.author.first_name|title }} {{ post.author.last_name|title }}
                                    </div>
                                    <div class="post-preview-meta-details-date">
                                        {{post.post_date}} &middot; 6 min read
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
              
                {% endfor %}
                <div class="row gx-5">
                    {% for post in all_posts_list|slice:"1:" %}

                    <div class="col-md-6 col-xl-4 mb-5">
                        <a class="card post-preview lift h-100" href="{% url 'post-details' post.pk %}">
                            <img class="card-img-top" src="{{post.header_image.url}}" alt="blog post picture">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.snippet}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="post-preview-meta">
                                {% if post.author.profile.profile_pic %}
                                    <img
                                    class="post-preview-meta-img"
                                    src="{{ post.author.profile.profile_pic.url }}"
                                    />
                                {% else %}
                                    <img
                                    class="post-preview-meta-img"
                                    src="https://res.cloudinary.com/jjconway23/image/upload/v1667304953/The%20Primed%20Buyer/Media/default_profile_picture_rbxjjl.png"
                                    />
                                {% endif %}
                                    <div class="post-preview-meta-details">
                                        <div class="post-preview-meta-details-name">{{ post.author.first_name|title }} {{ post.author.last_name|title }}</div>
                                        <div class="post-preview-meta-details-date">{{post.post_date}} · 5 min read</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-blog justify-content-center">
            {% if all_posts_list.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page=1" aria-label="Previous"
                    ><span aria-hidden="true">«</span></a
                    >
                </li>
                <li class="page-item ">
                    <a class="page-link" href="?page={{ all_posts_list.previous_page_number}}">Prev</a>
                </li>
            {% endif %}
            {% for i in nums %}
            {% if forloop.counter == all_posts_list.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                </li>
          {% endif %}
          {% endfor %}
          {% if all_posts_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_posts_list.next_page_number}}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ all_posts_list.paginator.num_pages}}" aria-label="Next"
              ><span aria-hidden="true">»</span></a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </section>
{% endblock %}