{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>{{post.title_tag}}</title>
{% comment %}
<meta name="keywords" content="{{}}">
see if there is a way where we can dynamically set meta tags.
may be able to add a field to the Post model and have them looped
thorugh and added to meta keywords. Potentially do it with the 
description meta tag too.
{% endcomment %}
{% endblock %} 
{% block content%}
<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}}</small>
<small>{{post.author.last_name}}  - {{ post.post_date }}  
    
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk%}">- Update</a> 
            <a href="{% url 'delete_post' post.pk%}">Delete</a>
        {% endif %}
    {% endif %}
</small>
<hr>
{% if post.header_image %}
<img src="{{ post.header_image.url }}"><br><br>
{% endif %}
<p>{{post.body| safe}}</p>
<a href="{% url 'home' %}">Back</a>
<br><br>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if  liked %}
            <button type="submit" value="{{ post.id }}" name="post_id">Unlike</button> 
        {% else %}
            <button type="submit" value="{{ post.id }}" name="post_id">Like</button>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Login in to like</a> 
    
    {% endif %}

    - {{total_likes}} Likes
</form>
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
            <img class="card-img" src="{{ post.author.profile.profile_pic.url }}">
        {% else %}
            <img class="card-img" src="{% static 'theblog\images\default_profile_pic.png' %}">
        {% endif %}

      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
          <p class="small text-muted">

            <a href="{% url 'profile_page' post.author.profile.id %}">Profile</a> | 

            {% if post.author.profile.instagram_url %}
                <a target="_blank" href="{{ post.author.profile.instagram_url }}">Instagram</a> | 
            {% endif %}

            {% if post.author.profile.facebook_url %}
                <a target="_blank" href="{{ post.author.profile.facebook_url }}">Facebook</a> | 
            {% endif %}

            {% if post.author.profile.twitter_url %}
                <a target="_blank" href="{{ post.author.profile.twitter_url }}">Twitter</a> | 
            {% endif %}

            {% if post.author.profile.tiktok_url %}
                <a target="_blank" href="{{ post.author.profile.tiktok_url }}">TikTok</a> |
            {% endif %}

            {% if post.author.profile.snapchat_url %}
                <a target="_blank" href="{{ post.author.profile.snapchat_url }}">Snapchat</a> | 
            {% endif %}

            {% if post.author.profile.youtube_url %}
                <a target="_blank" href="{{ post.author.profile.youtube_url }}">Youtube</a> 
            {% endif %}
            (can use font awesome icons instead?)</p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
