{% extends 'base.html' %}
{% load static %}
{% block title%}
<meta name="description" content="">
<meta name="keywords" content="HTML, CSS, JavaScript">
<meta name="author" content="John Doe">
<title>3 of the Best</title>
{% endblock %}
{% block content%}
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0">Featured Post</h6>
          <div>
            <a class="text-arrow-icon small" href="#!">
              More Reviews
              <i data-feather="arrow-right"></i>
            </a>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="card mb-4">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6 p-5">
                
                {% for post in object_list %}
                    {% if post.isFeatured %}
                <a
                  class="badge badge-marketing bg-primary-soft rounded-pill text-primary mb-3"
                  href="#!"
                  >{{post.category|title}}</a
                >
                <a class="text-dark" href="{% url 'post-details' post.pk %}"
                  ><h1>
                    {{post.title}}
                  </h1></a
                >
                <p>
                    {{post.snippet}}

                </p>
                <a class="text-arrow-icon small" href="{% url 'post-details' post.pk %}">
                  Read more
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <div
                class="col-lg-6 align-self-stretch bg-img-cover d-none d-lg-flex"
                style="
                  background-image: url('{{post.header_image.url}}');
                "
              ></div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0">Latest Posts</h6>
          <div>
            <a class="text-arrow-icon small" href="#!">
              View more
              <i data-feather="arrow-right"></i>
            </a>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row gx-5">
          <div class="col-lg-7 col-xl-8">
            {% for post in object_list|slice:":3" %}

            <div class="d-flex">
              <div class="flex-grow-1">
                <a class="text-dark" href="{% url 'post-details' post.pk %}"
                  ><h5 class="mt-0">
                    {{post.title|title}}
                  </h5></a
                >
                <p>
                    {{ post.snippet }}
                </p>
                <a class="text-arrow-icon small" href="{% url 'post-details' post.pk %}">
                  Read more
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <div class="flex-shrink-0 ms-4">
                <img
                  class="align-self-start rounded shadow media-img"
                  src="{{ post.header_image.url }}"
                  alt="..."
                />
              </div>

            </div>
            <hr class="my-4" />

            {% endfor %}

            
            <hr class="my-4 d-lg-none" />
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="card">
              <div class="card-body">
                <h6>Opinion</h6>
                <hr />
                {% for comment in home_comments %}
                <div class="d-flex mb-4">
                  <div class="avatar avatar-lg">
                    <img
                      class="avatar-img"
                      src="{% static 'theblog\images\default_profile_pic.png' %}"
                    />
                  </div>
                  <div class="ms-3">
                    <a class="text-dark" href="{% url 'post-details' comment.post.pk%}"
                      ><h6 class="mb-1">
                        {{comment.body}}
                      </h6></a
                    >
                    <div class="small text-gray-500">
                      by
                      <a class="text-gray-500" href="{% url 'profile_page' comment.post.author.profile.id %}">{{comment.post.author.first_name|title}}</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row gx-5 mb-5">
          <div class="col-lg-4">
            <h6>Tech</h6>
            <hr class="my-4" />
            <a class="text-dark mb-4" href="#!">
              <h6>
                Newest tech from 2020 that can improve our quality of life
              </h6>
              <p class="text-gray-600 small mb-4">
                New technology is always improving the way we live. This
                year, we've made some major advancements.
              </p>
            </a>
            <a class="text-dark mb-4" href="#!">
              <h6>Robotics and the future of industry</h6>
              <p class="text-gray-600 small mb-4">
                Machining and tooling systems are improving everday with
                the help of modern robotics.
              </p>
            </a>
            <a class="text-dark mb-4" href="#!">
              <h6>Artificial intelligence - should we be worried?</h6>
              <p class="text-gray-600 small mb-4">
                Ever since James Cameron's blockbuster, the discussion
                about whether AI is safe has been on our minds.
              </p>
            </a>
            <a class="text-arrow-icon small" href="#!">
              More from Tech
              <i data-feather="arrow-right"></i>
            </a>
          </div>
          <div class="col-lg-4">
            <h6>Business</h6>
            <hr class="my-4" />
            <a class="text-dark mb-4" href="#!">
              <h6>Cottage industries and the passion economy</h6>
              <p class="text-gray-600 small mb-4">
                An old turn of phase states that if you do what you love,
                you won't work a day in your life. In today's economy,
                some are pushing that concept to the limit.
              </p>
            </a>
            <a class="text-dark mb-4" href="#!">
              <h6>Everybody love pizza!</h6>
              <p class="text-gray-600 small mb-4">
                Well, not everybody, but pizza companies are making major
                moves towards global expansion.
              </p>
            </a>
            <a class="text-dark mb-4" href="#!">
              <h6>Tax season is here, and you can file for free</h6>
              <p class="text-gray-600 small mb-4">
                Before you go and pay to get your taxes filed, take a look
                at some of these free options!
              </p>
            </a>
            <a class="text-arrow-icon small" href="#!">
              More from Business
              <i data-feather="arrow-right"></i>
            </a>
          </div>
          <div class="col-lg-4">
            <h6>Health</h6>
            <hr class="my-4" />
            <a class="text-dark mb-4" href="#!">
              <h6>The carnivore diet, what the science says...</h6>
              <p class="text-gray-600 small mb-4">
                It's like having a meat lover's pizza without the bread,
                cheese, and sauce - but is it healthy?
              </p>
            </a>
            <a class="text-dark mb-4" href="#!">
              <h6>
                High intensity workouts and their effect on blood pressure
              </h6>
              <p class="text-gray-600 small mb-4">
                Working out with more intensity for less time, is it worth
                the added exhaustion?
              </p>
            </a>
            <a class="text-dark mb-4" href="#!">
              <h6>An annual review of pathology and disease</h6>
              <p class="text-gray-600 small mb-4">
                This year's statistics are in, and the numbers have a lot
                to say.
              </p>
            </a>
            <a class="text-arrow-icon small" href="#!">
              More from Health
              <i data-feather="arrow-right"></i>
            </a>
          </div>
        </div>
<!-- Section below pretty much complete -->
<div class="card mb-n5 z-1">
    <div class="card-body p-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <h4>Get the latest Reviews</h4>
          <p class="lead text-gray-500 mb-0">
            Stay in the loop with the latest reviews, offers and more !
          </p>
        </div>
        <div class="col-lg-6">
          <div class="input-group mb-2">
            <input
              class="form-control form-control-solid"
              type="text"
              placeholder="youremail@example.com"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-primary"
              id="button-addon2"
              type="button"
            >
              Sign up
            </button>
          </div>
          <div class="small text-gray-500">
            You can unsubscribe at any time.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-dark">
    <!-- Rounded SVG Border-->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 144.54 17.34"
      preserveAspectRatio="none"
      fill="currentColor"
    >
      <path
        d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
      ></path>
    </svg>
  </div>
</section>
{% endblock %}